@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.article-with-img-text {
  margin: auto; }
  .article-with-img-text .img-wrap {
    border-radius: 2rem;
    width: 100%; }
    .article-with-img-text .img-wrap img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .article-with-img-text .second-column {
    text-align: center;
    margin-top: 4rem; }
    .article-with-img-text .second-column h2 {
      margin-bottom: 0; }
    .article-with-img-text .second-column .content {
      margin-top: 1rem; }
    .article-with-img-text .second-column .bottom {
      margin-top: 3rem; }
  @media screen and (min-width: 641px) {
    .article-with-img-text {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .article-with-img-text .img-wrap, .article-with-img-text .second-column {
        flex: 1; }
      .article-with-img-text .second-column {
        margin-left: 2rem; }
        .article-with-img-text .second-column .content-article {
          max-width: 60rem;
          margin: auto; } }

.banner-with-text .img-wrap {
  border-radius: 2rem; }
  .banner-with-text .img-wrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

@media screen and (min-width: 641px) {
  .banner-with-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .banner-with-text .img-wrap {
      margin-left: 2rem; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  /* default font-size: 16px -> 62.5% * 16px = 10px */
  scroll-behavior: smooth;
  /* => 1rem = 8px*/
  font-size: 50% !important; }
  @media screen and (min-width: 641px) {
    html {
      /* => 1rem = 10px*/
      font-size: 62.5% !important; } }

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.01em;
  color: #98262b;
  background: #fafafa;
  font-family: "Inter", sans-serif; }

header {
  border-bottom: 1px solid #98262b; }
  header .header-top {
    background: #98262b; }
    header .header-top .top-text {
      font-family: "Inter";
      font-weight: 400;
      font-style: normal;
      font-size: 1.3rem;
      line-height: 2rem;
      text-align: center;
      color: #faf9f7;
      padding-top: 1rem;
      padding-bottom: 0.9rem;
      letter-spacing: 0.07em; }
  header .header-bottom {
    padding: 0 2rem;
    display: flex; }
    header .header-bottom .logo {
      padding-top: 1.7rem;
      padding-bottom: 1.8rem; }
    header .header-bottom .hamburger-icon {
      margin-left: auto;
      padding-top: 1.7rem;
      padding-bottom: 1.9rem; }
      header .header-bottom .hamburger-icon .bar-1,
      header .header-bottom .hamburger-icon .bar-2,
      header .header-bottom .hamburger-icon .bar-3 {
        width: 25px;
        height: 2px;
        background-color: #98262b;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        border-radius: 0.5rem; }
      header .header-bottom .hamburger-icon .bar-2 {
        margin: 0.75rem 0; }

.title-left-particle {
  position: relative;
  padding-right: 5rem;
  padding-top: 8rem; }
  .title-left-particle::after {
    position: absolute;
    content: "";
    background-image: url("../assets/particles/particle-left-title.svg");
    top: 0;
    right: -5rem;
    width: 18rem;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat; }

.u-heading-1 {
  font-size: 6rem;
  line-height: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700; }

.u-heading-2 {
  font-size: 5rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700; }

.u-heading-3 {
  font-size: 2.6rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 700; }

.u-section-padding {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.u-first-section-page {
  padding-top: 4rem; }

.u-button {
  all: unset;
  border-radius: 20rem;
  text-align: center;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }

.u-button-primary {
  background: #f6a300;
  color: #fafafa; }
  .u-button-primary:hover {
    background: rgba(246, 163, 0, 0.9);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
  .u-button-primary:focus, .u-button-primary:visited {
    color: rgba(250, 250, 250, 0.8); }
  .u-button-primary:focus {
    outline: 1px solid 5px rgba(246, 163, 0, 0.5); }
  .u-button-primary:disabled {
    color: #9c9c9c;
    cursor: not-allowed; }

.u-button-ghost {
  background: #fafafa;
  color: #98262b;
  border: 1px solid #98262b; }
  .u-button-ghost:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
  .u-button-ghost:focus, .u-button-ghost:visited {
    color: rgba(152, 38, 43, 0.8); }
  .u-button-ghost:focus {
    outline: 1px solid 5px rgba(152, 38, 43, 0.5); }
  .u-button-ghost:disabled {
    background: rgba(156, 156, 156, 0.2);
    color: #9c9c9c;
    cursor: not-allowed; }
