@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.article-with-img-text {
  margin: auto; }
  .article-with-img-text .img-wrap {
    border-radius: 2rem;
    width: 100%; }
    .article-with-img-text .img-wrap img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .article-with-img-text .second-column {
    text-align: center;
    margin-top: 4rem; }
    .article-with-img-text .second-column h2 {
      margin-bottom: 0; }
    .article-with-img-text .second-column .content {
      margin-top: 1rem; }
    .article-with-img-text .second-column .bottom {
      margin-top: 3rem; }
  @media screen and (min-width: 641px) {
    .article-with-img-text {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .article-with-img-text .img-wrap, .article-with-img-text .second-column {
        flex: 1; }
      .article-with-img-text .second-column {
        margin-left: 2rem; }
        .article-with-img-text .second-column .content-article {
          max-width: 60rem;
          margin: auto; } }

.banner-with-text .img-wrap {
  border-radius: 2rem; }
  .banner-with-text .img-wrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

@media screen and (min-width: 641px) {
  .banner-with-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .banner-with-text .img-wrap {
      margin-left: 2rem; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  /* default font-size: 16px -> 62.5% * 16px = 10px */
  scroll-behavior: smooth;
  /* => 1rem = 8px*/
  font-size: 50% !important; }
  @media screen and (min-width: 641px) {
    html {
      /* => 1rem = 10px*/
      font-size: 62.5% !important; } }

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.01em;
  color: #98262b;
  background: #fafafa;
  font-family: "Inter", sans-serif; }

.check-list {
  display: flex;
  justify-content: center;
  align-items: center; }
  .check-list .check-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 641px) {
      .check-list .check-list-wrapper {
        max-width: 75%; } }
    .check-list .check-list-wrapper .check-list-item {
      font-style: italic;
      font-weight: 400;
      line-height: 3.8rem;
      font-size: 3.4rem; }
      .check-list .check-list-wrapper .check-list-item::before {
        line-height: 3.8rem;
        font-size: 3.4rem;
        font-weight: bold;
        font-style: italic;
        content: "\2713"; }

.description {
  display: flex;
  justify-content: center;
  align-items: center; }
  .description .description-content {
    font-weight: 400;
    line-height: 3.8rem;
    font-size: 3.4rem;
    max-width: 85%;
    text-align: center; }
    @media screen and (min-width: 641px) {
      .description .description-content {
        max-width: 75%; } }

header .header-small {
  display: block; }
  header .header-small .header-top {
    background: #98262b; }
    header .header-small .header-top .top-text {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.3rem;
      line-height: 2rem;
      text-align: center;
      color: #faf9f7;
      padding-top: 1rem;
      padding-bottom: 0.9rem;
      letter-spacing: 0.07em; }
  header .header-small .header-bottom {
    padding: 0 2rem;
    display: flex;
    border-bottom: 1px solid #98262b;
    overflow: hidden; }
    header .header-small .header-bottom .header-logo {
      padding-top: 1.7rem;
      padding-bottom: 1.8rem; }
    header .header-small .header-bottom .hamburger {
      margin-left: auto;
      padding-top: 1.7rem;
      padding-bottom: 1.9rem; }
      header .header-small .header-bottom .hamburger .hamburger-icon {
        display: inline-block;
        margin: auto;
        cursor: pointer;
        transform: scale(0.8);
        -webkit-transform: scale(0.8); }
        header .header-small .header-bottom .hamburger .hamburger-icon .bar-1,
        header .header-small .header-bottom .hamburger .hamburger-icon .bar-2,
        header .header-small .header-bottom .hamburger .hamburger-icon .bar-3 {
          width: 25px;
          height: 2px;
          background-color: #98262b;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          border-radius: 0.5rem; }
        header .header-small .header-bottom .hamburger .hamburger-icon .bar-2 {
          margin: 0.75rem 0; }
        header .header-small .header-bottom .hamburger .hamburger-icon.active .bar-1 {
          transform: rotate(-45deg) translate(-12px, 1px); }
        header .header-small .header-bottom .hamburger .hamburger-icon.active .bar-2 {
          opacity: 0; }
        header .header-small .header-bottom .hamburger .hamburger-icon.active .bar-3 {
          transform: rotate(45deg) translate(-10px, 0); }
      header .header-small .header-bottom .hamburger .header-sidebar {
        position: absolute;
        transform: translateX(100%);
        right: 0;
        top: 10rem;
        width: 100%;
        transition: all .3s;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-style: 2.4rem;
        line-height: 3rem;
        letter-spacing: 0.01em;
        z-index: 2000; }
        header .header-small .header-bottom .hamburger .header-sidebar ul {
          list-style: none; }
          header .header-small .header-bottom .hamburger .header-sidebar ul:first-child {
            padding: 2.4rem 2rem;
            border-bottom: 1px solid #98262b; }
          header .header-small .header-bottom .hamburger .header-sidebar ul:nth-child(2) {
            padding: 2.7rem 2rem 2.1rem; }
          header .header-small .header-bottom .hamburger .header-sidebar ul:last-child {
            font-family: "Mrs Eaves XL Serif Nar OT", sans-serif;
            background-color: #98262b;
            color: #fafafa;
            padding: 4.4rem 2rem; }
        header .header-small .header-bottom .hamburger .header-sidebar.active {
          transform: translateX(0);
          transition: all .3s;
          -webkit-transition: all .3s; }

header .header-large {
  display: none; }

@media screen and (min-width: 1008px) {
  header .header-small {
    display: none; }
  header .header-large {
    display: block; }
    header .header-large .header-top {
      background: #98262b; }
      header .header-large .header-top .top-text {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: center;
        color: #faf9f7;
        padding-top: 1rem;
        padding-bottom: 0.9rem;
        letter-spacing: 0.07em; }
    header .header-large .header-bottom {
      display: flex;
      justify-content: space-between;
      padding: 2.3rem 4.5rem;
      border: 1px solid #98262b; }
      header .header-large .header-bottom .header-logo::before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%; }
      header .header-large .header-bottom .header-logo img {
        display: inline-block;
        vertical-align: middle; }
      header .header-large .header-bottom .header-right {
        display: flex;
        align-items: center;
        justify-content: center; }
        header .header-large .header-bottom .header-right .header-category .header-category-list {
          display: flex;
          list-style: none;
          justify-content: center; }
          header .header-large .header-bottom .header-right .header-category .header-category-list .header-category-item {
            padding-left: 2rem;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: 0.01em; }
        header .header-large .header-bottom .header-right .header-btn .u-button.u-button-ghost {
          margin-left: 2rem;
          padding: 0.5rem 3rem;
          font-size: 1.5rem;
          font-weight: 400;
          font-style: normal;
          line-height: 2.8rem;
          letter-spacing: 0.02em;
          text-align: center; } }

.tag-buttons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .tag-buttons-list .tag-buttons-list-warpper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    flex-direction: row;
    flex-wrap: wrap; }
    @media screen and (min-width: 641px) {
      .tag-buttons-list .tag-buttons-list-warpper {
        width: 75%; } }
    .tag-buttons-list .tag-buttons-list-warpper .tag-buttons-list-item {
      overflow: hidden;
      margin-bottom: 1rem;
      width: 10rem;
      height: 4rem;
      border: 1px solid #98262B;
      box-sizing: border-box;
      border-radius: 20rem;
      display: inline;
      text-align: center;
      line-height: 4rem; }
      @media screen and (min-width: 641px) {
        .tag-buttons-list .tag-buttons-list-warpper .tag-buttons-list-item {
          width: 17rem; } }

.title-left-particle {
  position: relative;
  padding-right: 5rem;
  padding-top: 8rem; }
  .title-left-particle::after {
    position: absolute;
    content: "";
    background-image: url("../assets/particles/particle-left-title.svg");
    top: 0;
    right: -5rem;
    width: 18rem;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat; }

.title-center {
  display: flex;
  justify-content: center;
  align-items: center; }
  .title-center .title-main {
    position: relative;
    font-weight: bold;
    color: #98262b;
    max-width: 75%;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .title-center .title-main::before {
      vertical-align: middle;
      top: 0;
      left: -10rem;
      height: 100%;
      width: 6rem;
      position: absolute;
      display: flex;
      align-items: center;
      content: url("../assets/particles/particle-left-center.svg"); }
    .title-center .title-main::after {
      display: flex;
      align-items: center;
      content: url("../assets/particles/particle-right-center.svg");
      top: 0;
      right: -10rem;
      height: 100%;
      width: 6rem;
      position: absolute; }

.u-heading-1 {
  font-size: 6rem;
  line-height: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700; }

.u-heading-2 {
  font-size: 5rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700; }

.u-heading-3 {
  font-size: 2.6rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 700; }

.u-section-padding {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.u-first-section-page {
  padding-top: 4rem; }

.u-button {
  all: unset;
  border-radius: 20rem;
  text-align: center;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }
  .u-button a {
    text-decoration: none;
    color: currentColor; }

.u-button-primary {
  background: #f6a300;
  color: #fafafa; }
  .u-button-primary:hover {
    background: rgba(246, 163, 0, 0.9);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
  .u-button-primary:focus, .u-button-primary:visited {
    color: rgba(250, 250, 250, 0.8); }
  .u-button-primary:focus {
    outline: 1px solid 5px rgba(246, 163, 0, 0.5); }
  .u-button-primary:disabled {
    color: #9c9c9c;
    cursor: not-allowed; }

.u-button-ghost {
  background: #fafafa;
  color: #98262b;
  border: 1px solid #98262b; }
  .u-button-ghost:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
  .u-button-ghost:focus, .u-button-ghost:visited {
    color: rgba(152, 38, 43, 0.8); }
  .u-button-ghost:focus {
    outline: 1px solid 5px rgba(152, 38, 43, 0.5); }
  .u-button-ghost:disabled {
    background: rgba(156, 156, 156, 0.2);
    color: #9c9c9c;
    cursor: not-allowed; }

.video-thumbnail .video-thumbnail-wrap {
  position: relative;
  width: 65.2rem;
  height: 62rem; }
  .video-thumbnail .video-thumbnail-wrap .video-play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 4.3rem;
    right: 4.5rem;
    z-index: 100;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px #98262b solid;
    font-size: 5rem; }
    .video-thumbnail .video-thumbnail-wrap .video-play-button img {
      width: 2rem;
      height: 2.8rem; }
  .video-thumbnail .video-thumbnail-wrap img {
    width: 100%;
    height: 100%; }
