<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<body>
    <section class="article-with-img-text u-section-padding">
        <figure class="img-wrap">
            <img src="../assets/images/banner1.png" alt="">
        </figure>
        <div class="second-column">
            <article class="content-article">
                <h2 class="u-heading-2">Lorem ipsum dolor sit amet.</h2>
                <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti natus quas eius? Aliquam quis aliquid aspernatur doloribus doloremque vel eos!</p>
                <div class="bottom">
                    <button class="u-button u-button-primary">Vostro Button</button>
                </div>
            </article>
        </div>
    </section>
</body>

</html>