<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<body>
    <section class="article-with-img-text u-section-padding">
        <figure class="img-wrap">
            <img src="../assets/images/banner1.png" alt="">
        </figure>
        <article class="content-article">
            <h2 class="u-heading-2">Lorem ipsum dolor sit amet.</h2>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates suscipit officia repellat iusto? Repellat id obcaecati, voluptate hic amet libero magni et illum? Laudantium iure aperiam optio officia esse laborum officiis nam minima eligendi dignissimos nesciunt ad quasi, deserunt tempora libero commodi alias? Ut ab libero voluptates minima eum consequatur deleniti assumenda numquam. Inventore excepturi, dolore asperiores ducimus debitis, hic fuga consectetur placeat provident optio minima earum odit in reiciendis minus labore molestias. Reiciendis provident consectetur, doloribus unde quos aspernatur nostrum voluptatum nihil fuga, facilis sunt molestias velit consequatur. Corrupti rerum amet nam libero distinctio incidunt quis itaque! Nisi, iure.</p>
            <div class="bottom">
                <button class="u-button u-button-primary">Vostro Button</button>
            </div>
        </article>
    </section>
</body>

</html>