<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Banner with text</title>
</head>

<body>
    <section class="banner-with-text u-section-padding">
        <h1 class="title u-heading-1 title-left-particle">Lorem ipsum dolor sit amet.</h1>
        <figure class="img-wrap">
            <img src="../assets/images/banner1.png" alt="">
        </figure>
    </section>
</body>

</html>