<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <section class="member-list-wrap">
        <ul class="member-list">
             <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_1.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>

            <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_2.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>

            <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_3.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>

            <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_4.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>

             <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_5.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>

            <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_6.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>

            <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_7.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>

            <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_8.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>

             <li class="card-item-member">
                <div class="img-wrap">
                    <img src="../assets/images/member_9.png" alt="">
                </div>
                <h4 class="title u-title-card">Lorem ipsum dolor sit amet.</h4>
                <p class="position">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptate.</p>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni. Repellat non incidunt in magni enim. Voluptas nemo porro reiciendis?</p>
            </li>
        </ul>
    </section>
</body>
</html>