<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <section class="partners-slider">
        <h3 class="u-heading-3">OUR PARTNERS</h3>
        <div class="partners-slider-content ">
            <ul class="items">
                <div class="column">
                    <li class="item">
                        <img src="../assets/images/partner_1.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../assets/images/partner_2.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../assets/images/partner_3.png" alt="">
                    </li>
                </div>
                <div class="column">
                    <li class="item">
                        <img src="../assets/images/partner_4.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../assets/images/partner_5.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../assets/images/partner_6.png" alt="">
                    </li>
                </div>
                
                 
            </ul>
        </div>
    </section>
    <script src="'../../../js/partner-slider.js"></script>
</body>
</html>