<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Document</title>
</head>

<body>
    <div>
        <div class="swiper-container slider-swipe-partner-mobile">
            <div class="swiper-wrapper content">
                <ul class="column swiper-slide">
                    <li class="item">
                        <img src="../assets/images/partner_1.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../assets/images/partner_2.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../assets/images/partner_3.png" alt="">
                    </li>
                </ul>
                <ul class="column swiper-slide">
                    <li class="item">
                        <img src="../assets/images/partner_4.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../assets/images/partner_5.png" alt="">
                    </li>
                    <li class="item">
                        <img src="../assets/images/partner_6.png" alt="">
                    </li>
                </ul>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="module">
        import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'

        const swiper = new Swiper('.slider-swipe-partner-mobile', {
            direction: 'horizontal',
            loop: true,
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
</body>

</html>