<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <section class="testimonial-item">
        <q class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam culpa asperiores quasi, ducimus quia recusandae laudantium aperiam est ipsa placeat corrupti reprehenderit impedit voluptatibus, non assumenda eum deleniti quas quis, necessitatibus totam iste.</q>
        <address class="author">Pault</address>
    </section>
</body>
</html>