<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Video thumbnail</title>
</head>
<body>
    <section class="video-thumbnail" id="video-thumbnail">
        <div class="video-thumbnail-wrap">
            <img src="../assets/images/banner1.png" alt="image">
            <div class="video-play-button">
                <img src="../assets/particles/play.svg" alt="play">
            </div>
        </div>
    </section>
    <section class="modal-video" id="video-modal">
        <div class="modal-content" id="modal-content">
            <!-- <iframe width="900" height="506" src="https://www.youtube.com/embed/vmtumt8cv8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
        <span class="close">&times;</span>
    </section>
    <script>
		// Get the modal
		var modal = document.getElementById("video-modal");

		// Get the button that opens the modal
		var btn = document.getElementById("video-thumbnail");
		var content = document.getElementById("modal-content");
		// Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            
            // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
            content.innerHTML= `<iframe width="900" height="506" src="https://www.youtube.com/embed/vmtumt8cv8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
		};

		// When the user clicks on <span> (x), close the modal
		span.onclick = function () {
			modal.style.display = "none";
            content.innerHTML=""

		};

		// When the user clicks anywhere outside of the modal, close it
		// window.onclick = function (event) {
		// 	if (event.target == modal) {
		// 		modal.style.display = "none";
		// 	}
		// };
	</script>
</body>
</html>