<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style.css" />
		<title>Modal Video</title>
	</head>
	<body>
		<button id="modal-button">Open Modal</button>
		<section class="modal-video" id="video-modal">
			<div class="modal-content">
                <iframe id="ifame-video-modal" src="https://www.youtube.com/embed/vmtumt8cv8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
            <span class="close">&times;</span>
		</section>
	</body>
</html>
