<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Video thumbnail</title>
</head>
<body>
    <section class="video-thumbnail">
        <div class="video-thumbnail-wrap">
            <img src="../assets/images/banner1.png" alt="image">
            <div class="video-play-button">
                <img src="../assets/particles/play.svg" alt="play">
            </div>
        </div>
    </section>
</body>
</html>