@font-face {
    font-family: 'Mrs Eaves XL Serif Nar OT';
    src: url('mrseavesxlsernarot-regitalic-webfont.woff2') format('woff2'),
         url('mrseavesxlsernarot-regitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}