@import "../styles/variable.scss";

.banner-with-text {
    .img-wrap {
        border-radius: $border-radius;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @include mq("tablet") {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .img-wrap {
            margin-left: 2rem;
        }
    }
}
