@import "./variable.scss";

.footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $color-primary;
    .footer-top {
        padding: 5rem 3.75rem;
        .footer-contact {
            font-family: $font-family-2;
            font-style: italic;
            font-size: 3.4rem;
            line-height: 3.8rem;
            color: $color-primary;
            margin-bottom: 3rem;
        }
        ul {
            list-style: none;
            li {
                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
                .footer-head-info {
                    font-size: 13px;
                    line-height: 20px;
                    color: $color-primary;
                    letter-spacing: 0.0875em;
                    text-transform: uppercase;
                    margin-bottom: 1.2rem;
                }
                .footer-info {
                    font-family: $font-family-1;
                    font-size: 2rem;
                    line-height: 2.75rem;
                    color: $color-primary;
                    letter-spacing: 0.0125em;
                }
            }
        }
    }
    .burgundy {
        position: relative;
        background-color: $color-primary;
        padding: 5rem 2.5rem;
        .burgundy-head {
            font-family: $font-family-1;
            color: #fafafa;
            font-size: 1.625rem;
            line-height: 2.5rem;
            letter-spacing: 0.0875em;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        .footer-input-wrapper {
            position: relative;
            &::after {
                content: "\2192";
                position: absolute;
                right: 1.5rem;
                font-size: 2rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .burgundy-input {
            width: 100%;
            background-color: #fafafa;
            border: 0.125rem solid $color-primary;
            box-sizing: border-box;
            border-radius: 12.5rem;
            outline: none;
            padding-right: 16.75rem;
            padding-top: 1.125rem;
            padding-left: 1.875rem;
            padding-bottom: 1rem;
        }
        input[type="email"].burgundy-input::placeholder {
            font-family: $font-family-1;
            font-size: 1.625rem;
            color: $color-primary;
            line-height: 2.75rem;
            letter-spacing: 0.0125em;
        }
        .burgundy-input-arrow {
            position: absolute;
            font-size: 2rem;
            top: 9.8rem;
            left: 37rem;
        }
    }
    .footer-bot {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2rem 2.5rem 0.875rem;
        li {
            list-style-type: none;
            font-family: $font-family-1;
            font-size: 1.375rem;
            line-height: 1.75rem;
            color: $color-primary;
            letter-spacing: 0.0875em;
            text-transform: uppercase;
            padding-bottom: 1.625rem;
            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }
        .footer-bot-list-1, .footer-bot-list-2 {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
        }
    }
}
@include mq("lap") {
    .footer {
        display: flex;
        flex-direction: column;
        .footer-top {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 5rem 4.5rem;
            .footer-contact {
                width: 50%;
                margin-bottom: 0;
                font-size: 3.5rem;
                line-height: 4rem;
            }
            .ul-top {
                display: grid;
                grid-template-columns: 1fr 1fr auto;
                li {
                    margin-bottom: 0 !important;
                    &:not(:last-child) {
                        margin-right: 4.5rem;
                    }
                }
                .footer-info {
                    font-size: 1.6rem;
                    line-height: 2.2rem
                }
            }
        }
        .burgundy {
            padding: 4rem 4.5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            .burgundy-head {
                margin-bottom: 0;
            }
            .footer-input-wrapper {
                max-width: 54rem;
            }
        }
        .footer-bot {
            padding: 2rem 4.5rem 0;
            li {
                padding-bottom: 2rem;
                font-size: 1.3rem;
                line-height: 2rem;
            }
        }
    }
}
