@import "./variable.scss";

.footer {
    display: flex;
    flex-direction: column;
    .footer-top{
        .footer-contact{
            font-family: Mrs Eaves XL Serif Nar OT;
            font-style: italic;
            font-size: 3.5rem;
            color: $color-primary;
            line-height: 3.2rem;
            padding-left: 1.5rem;
            padding-top: 5rem;
            padding-bottom: 3rem;
        }
        ul{
            li{
                .footer-head-info{
                    font-family: Inter;
                    font-size: 1.625rem;
                    color: $color-primary;
                    line-height: 2.5rem;
                    padding-left: 2.5rem;
                    padding-bottom: 1.5rem;
                    letter-spacing: 0.0875em;
                    text-transform: uppercase;
                }
                .footer-info{
                    font-family: Inter;
                    font-size: 2rem;
                    color: $color-primary;
                    line-height: 2.75rem;
                    padding-left: 2.5rem;
                    padding-bottom: 3.75rem;
                    letter-spacing: 0.0125em;
                }
            }
        }

    }
    .burgundy{
        position: relative;
        background-color: $color-primary;
        .burgundy-head{
            font-family: Inter;
            font-size: 1.625rem;
            color: #FAFAFA;
            line-height: 2.5rem;
            padding-top: 4.5rem;
            padding-left: 2.5rem;
            padding-bottom: 2rem;
            letter-spacing: 0.0875em;
            text-transform: uppercase;
        }
        .footer-input-wrapper{
            display: flex;
            position: relative;
            // margin-left: 2.5rem;
            margin: 0 2.2rem;
            // margin-right: 2.375rem;
            padding-bottom: 5rem;
            &::after{
                content: "\2192";
                position: absolute;
                top: 0.75rem;
                right: 1.5rem;
                font-size: 2rem;
            }
        }
        .burgundy-input{
            width: 100%;
            background-color: #FAFAFA;
            border: 0.125rem solid $color-primary;
            box-sizing: border-box;
            border-radius: 12.5rem;
            outline: none;
            padding-right: 16.75rem;
            padding-top: 1.125rem;
            padding-left: 1.875rem;
            padding-bottom: 1rem;
        }
        input[type="email"].burgundy-input::placeholder{
            
            font-family: Inter;
            font-size: 1.625rem;
            color: $color-primary;
            line-height: 2.75rem;
            letter-spacing: 0.0125em;
        }
        .burgundy-input-arrow{
            position: absolute;
            font-size: 2rem;
            top: 9.8rem;
            left: 37rem;
        }
    }
    .footer-bot{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .footer-bot-list-1{
            display: flex;
            li{
                list-style-type: none;
                font-family: Inter;
                font-size: 1.375rem;
                color: $color-primary;
                line-height: 1.75rem;
                padding-top: 2.5rem;
                padding-left: 2.5rem;
                margin-right: 2.5rem;
                letter-spacing: 0.0875em;
                text-transform: uppercase;
            }
        }
        .footer-bot-list-2{
            display: flex;
            flex-wrap: wrap;
            li{
                list-style-type: none;
                font-family: Inter;
                float: left;
                font-size: 1.375rem;
                color: $color-primary;
                line-height: 1.75rem;
                padding-top: 2.5rem;
                padding-left: 2.5rem;
                margin-right: 2.5rem;
                letter-spacing: 0.0875em;
                text-transform: uppercase;
            }
        }

    }
}
@include mq("lap") {
    .footer{
        display: flex;
        flex-direction: column;
        .footer-top{
            .footer-contact{
                float: left;
                font-family: Mrs Eaves XL Serif Nar OT;
                font-style: italic;
                font-size: 3.4rem;
                color: $color-primary;
                line-height: 3.8rem;
                padding-left: 4.5rem;
                padding-top: 5rem;
                padding-bottom: 0rem;
                letter-spacing: 0em;
            }
            .ul-top{
                list-style-type: none;
                display: flex;
                justify-content: center;
                // padding-left: 73.3rem;
                li{
                    // margin-right: 4.6rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    float: left;
                    .footer-head-info{
                        font-family: Inter;
                        font-size: 1.3rem;
                        color: $color-primary;
                        line-height: 2rem;
                        padding-top: 5rem;
                        padding-bottom: 1.2rem;
                        letter-spacing: 0.07em;
                        text-transform: uppercase;
                    }
                    .footer-info{
                        font-family: Inter;
                        font-size: 1.6rem;
                        color: $color-primary;
                        line-height: 2.2rem;
                        padding-top: 1.2rem;
                        letter-spacing: 0.01em;
                    }
                }
            }

        }
        .burgundy{
            float: left;
            width: 100%;
            background-color: $color-primary;
            .burgundy-head{
                float: left;
                width: 50%;
                font-family: Inter;
                font-size: 1.3rem;
                color: #FAFAFA;
                line-height: 2rem;
                padding-top: 3.6rem;
                padding-left: 4.5rem;
                letter-spacing: 0.07em;
                text-transform: uppercase;
            }
            .footer-input-wrapper{
                position: relative;
                padding-top: 2.5rem;
                margin-right: 17rem;
                padding-right: 0;
                // margin-left: 1.2rem;
                // margin-right: 1.9rem;
                &::after{
                    content: "\2192";
                    position: absolute;
                    top: 3rem;
                    right: 1.5rem;
                    font-size: 2rem;
                }
            }
            .burgundy-input{

                width: 100%;
                background-color: #FAFAFA;
                border: 0.1rem solid $color-primary;
                box-sizing: border-box;
                border-radius: 10rem;
                // margin-top: 2.5rem;
                padding-top: 1rem;
                padding-left: 2.3rem;
                padding-bottom: 1rem;
                padding-right: 32.6rem;
            }
            input[type="email"].burgundy-input::placeholder{
                font-family: Inter;
                font-size: 1.3rem;
                color: $color-primary;
                line-height: 2.2rem;
                letter-spacing: 0.01em;
            }
            .burgundy-input-arrow{
                position: absolute;
                top: 19.6rem;
                left: 120rem;
            }
        }
        .footer-bot{
                .footer-bot-list-1{
                    li{
                        list-style-type: none;
                        font-family: Inter;
                        font-size: 1.1rem;
                        color: $color-primary;
                        line-height: 1.4rem;
                        padding-left: 2rem;
                        margin-right: 0;
                        letter-spacing: 0.07em;
                        text-transform: uppercase;
                        padding-bottom: 0rem;
                    }
                }
                .footer-bot-list-2{
                    // padding-left: 73.3rem;
                    li{
                        list-style-type: none;
                        font-family: Inter;
                        font-size: 1.1rem;
                        color: $color-primary;
                        line-height: 1.4rem;
                        padding-left: 1rem;
                        margin-right: 1rem;
                        letter-spacing: 0.07em;
                        text-transform: uppercase;
                        padding-bottom: 0rem;
                    }
                }
            }
    }
}