@import "../styles/variable.scss";

.partners-slider {
    padding: 60px 0;
    h3 {
        text-align: center;
    }
    @include mq("tablet") {
        padding: 100px 0;
    }
    .partners-slider-content-tablet {
        display: none;
        @include mq("tablet") {
            display: block;
            transition: all 0.2s;
            max-width: 1440px;
            margin: auto;
            transform: none;
            .items {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow-x: hidden;
                flex-wrap: wrap;
                width: 100%;
                .column {
                    width: 100%;
                    padding: 0 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .item {
                    margin-top: 50px;
                    min-width: 33.33%;
                    padding: 0 2.5rem;
                    @include mq("desk") {
                        padding: 0 6.5rem;
                    }

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
