@import "../styles/variable.scss";
.tag-buttons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    .tag-buttons-list-warpper{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 85%;
        @include mq("tablet"){
            width: 75%;
        }
        // width: 100%;    
        flex-direction: row;
        flex-wrap: wrap;
        .tag-buttons-list-item{
            overflow: hidden;
            margin-bottom: 1rem;
            width: 10rem;
            height: 4rem;
            border: 1px solid #98262B;
            box-sizing: border-box;
            border-radius: 20rem;
            display: inline;
            text-align: center;
            line-height: 4rem;
            // vertical-align: middle;
            @include mq("tablet"){
                width: 17rem;
            }
        }
    }
}