@import '../styles/variable.scss';
.title-center{
    display: flex;
    justify-content: center;
    align-items: center;
    .title-main{
        position: relative; 
        font-weight: bold;
        color: $color-primary;
        max-width: 65.2rem;
        min-height: 15rem;
        display: flex;
        width: 75%;
        @include mq("tablet"){

        }
        justify-content: center;
        align-items: center;
        text-align: center;
        &::before{        
            vertical-align:middle;
            top: 0;
            left: -5rem;
            height: 100%;
            // width: 6rem;
            position: absolute;
            display: flex;
            align-items: center;
            content: url('../assets/particles/particle-left-center.svg');
        }
        &::after{
            display: flex;
            align-items: center;
            content: url('../assets/particles/particle-right-center.svg');
            top: 0;
            right:-5rem;
            height: 100%;
            // width: 6rem;
            position: absolute;
        }
    }
}