@import "../styles/variable.scss";
.title-center {
    display: flex;
    justify-content: center;
    align-items: center;
    .title-main {
        position: relative;
        font-weight: bold;
        color: $color-primary;
        min-height: 15rem;
        display: block;
        max-width: 27rem;
        margin: auto;
        text-align: center;
        &::before,
        &::after {
            top: -2rem;
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
        }
        &::before {
            vertical-align: middle;
            left: -8rem;
            content: url("../assets/particles/particle-left-center.svg");
        }
        &::after {
            content: url("../assets/particles/particle-right-center.svg");
            right: -8rem;
        }
        @include mq("tablet") {
            max-width: 65.2rem;
            &::before,
            &::after {
                top: -3rem;
            }
            &::before {
                left: -6rem;
            }
            &::after {
                right: -6rem;
            }
        }
    }
}
