@import "./variable.scss";

.u-heading-1 {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: $font-weight-bold;
    @include mq("tablet") {
        font-size: 60px;
        line-height: 60px;
    }
}

.u-heading-2 {
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: $font-weight-bold;
    @include mq("tablet") {
        font-size: 50px;
        line-height: 55px;
    }
}

.u-heading-3 {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: $font-weight-bold;
    @include mq("tablet") {
        font-size: 26px;
        line-height: 36px;
    }
}

.u-section-padding {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.u-first-section-page {
    padding-top: 4rem;
}

.u-button {
    all: unset;
    border-radius: $border-radius-button;
    text-align: center;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: all 0.2s;
    a {
        text-decoration: none;
        color: currentColor;
    }
}

.u-button-primary {
    background: $color-primary-2;
    color: $color-white;
    &:hover {
        background: rgba($color-primary-2, 0.9);
        box-shadow: $boxshodow;
    }
    &:focus,
    &:visited {
        color: rgba($color-white, 0.8);
    }
    &:focus {
        outline: 1px solid 5px rgba($color-primary-2, 0.5);
    }
    &:disabled {
        color: $color-disable;
        cursor: not-allowed;
    }
}

.u-button-ghost {
    background: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
        box-shadow: $boxshodow;
    }
    &:focus,
    &:visited {
        color: rgba($color-primary, 0.8);
    }
    &:focus {
        outline: 1px solid 5px rgba($color-primary, 0.5);
    }
    &:disabled {
        background: rgba($color-disable, 0.2);
        color: $color-disable;
        cursor: not-allowed;
    }
}
