.u-heading-1 {
    font-size: 6rem;
    line-height: 6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.u-heading-2 {
    font-size: 2.6rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    letter-spacing: .23rem;
}

.u-section-padding {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.u-first-section-page {
    padding-top: 4rem;
}