@import "./variable.scss";
.modal-video {
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	// background-color: rgb(0,0,0);
	// background-color: rgba(0,0,0,0.4);
	background-color: $color-primary-2;
    // padding: 8.5rem 16rem;
	.modal-content {
        margin: 0 auto;
		background-color: $color-primary-2;
		border: 1px solid #888;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		padding: 0;
		iframe{
			width: 95vw;
			height: 30vh;
			@include mq("lap"){
				width: 100%;
				height: 100%;
			}
		}
		@include mq("lap"){
			padding: 8.5rem 16rem;
		}
		// height: 80rem;
	}
	.close {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        top:4rem;
        right: 4rem;
		color: #000;
		float: right;
		font-size: 5rem;
		// font-weight: bold;
        font-weight: 100;
        &:hover,&:focus{
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
	}
}
